<div class="card">
  <h3 class="card-header">Change Password</h3>
  <div class="card-body">
    <%= form_for @user, :url => update_password_path do |form| %>
      <div class="field form-group row">
        <%= form.label :password, class:"col-sm-2 col-form-label" %>
        <%= form.password_field :password, class:"form-control col-sm-5", :required => 'true'%>
      </div>
      <br/>

      <div class="field form-group row">
        <%= form.label :password_confirmation, class:"col-sm-2 col-form-label" %>
        <%= form.password_field :password_confirmation, class:"form-control col-sm-5", :required => 'true'%>
      </div><br/>

      <div class="submit-btn-div">
        <%= form.submit "Update Password", class: 'btn btn-info pull-right create-btn' %>
        <%= link_to 'Cancel', profile_users_path, class: "btn btn-secondary pull-right" %>
      </div>
    <% end %>
  </div>
</div>

<style>
.card_option {
  width: 50rem;
  margin: 0 auto;
}
</style>
