<%= form_with model: user, url: url, method: method do |form| %>
  <div class="field form-group row">
    <%= form.label :name, "User Name", class: "col-sm-2 col-form-label" %><br>
    <%= form.text_field :name, class: "form-control col-sm-5" %>
    <% if @user.errors[:name].any? %>
      <span style="color:red;">Name <%= @user.errors[:name][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :email, class: "col-sm-2 col-form-label" %><br>
    <%= form.text_field :email, class: "form-control col-sm-5" %>
    <% if user.errors[:email].any? %>
      <span style="color:red;">Email <%= user.errors[:email][0] %>
    <% end %>
  </div>

  <% if user.id == nil %>
    <div class="field form-group row">
      <%= form.label :password, class: "col-sm-2 col-form-label" %><br>
      <%= form.password_field :password, class: "form-control col-sm-5" %>
      <% if user.errors[:password].any? %>
        <span style="color:red;">Password <%= user.errors[:password][0] %>
      <% end %>
    </div>
    <div class="field form-group row">
      <%= form.label :password_confirmation, "Confirm Password", class: "col-sm-2 col-form-label required" %><br>
      <%= form.password_field :password_confirmation, class: "form-control col-sm-5" %>
      <% if user.errors[:password_confirmation].any? %>
      <span style="color:red;">Confirm Password <%= user.errors[:password_confirmation][0] %>
        <% end %>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= form.label :phone, class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :phone, class: "form-control col-sm-5" %>
    <% if user.errors[:phone].any? %>
      <span style="color:red;">Phone <%= user.errors[:phone][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :address, class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :address, class: "form-control col-sm-5" %>
    <% if user.errors[:address].any? %>
      <span style="color:red;">Address <%= user.errors[:address][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :birthday, class:"col-sm-2 col-form-label" %><br>
    <%= form.date_field :birthday, class: "form-control col-sm-5" %>
    <% if user.errors[:birthday].any? %>
      <span style="color:red;">Birthday <%= user.errors[:birthday][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :super_user_flag, "Create as", class: "col-sm-2 col-form-label" %><br />
    <%= form.radio_button :super_user_flag, true, class: "super-user-flag mr-1" %>
    <%= form.label :super_user_flag, "Admin", :value => "true", class: "form-check-label mt-2 mr-3" %><br>
    <%= form.radio_button :super_user_flag, false, class: "super-user-flag mr-1" %>
    <%= form.label :super_user_flag, "User", :value => "false", class: "form-check-label mt-2" %>
    <% if user.errors[:super_user_flag].any? %>
      <span style="color:red;">User Type <%= user.errors[:super_user_flag][0] %>
    <% end %>
  </div>

  <div class="submit-btn-div">
    <%= form.submit class: "btn btn-info pull-right create-btn" %>
    <%= link_to 'Cancel', back , class:"btn btn-secondary pull-right" %>
  </div>
<% end %>