<%= form_with model: post, url: url, method: method, class: "main-form" do |form| %>
  <div class="form-group">
    <%= form.label :title, "Post Title", class: "required" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% if @post.errors[:title].any? %>
      <div class="error-msg">This <%= @post.errors[:title][0] %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Post Description", class: "required" %><br>
    <%= form.text_area :description, rows: 8, class: "form-control" %>
    <% if post.errors[:description].any? %>
      <div class="error-msg">This <%= post.errors[:description][0] %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :public_flag, "Post Privacy Setting", class: "required" %><br />
    <%= form.radio_button :public_flag, true %>
    <%= form.label :public_flag, "Public", :value => "true" %><br>
    <%= form.radio_button :public_flag, false %>
    <%= form.label :public_flag, "Private", :value => "false" %>
    <% if post.errors[:public_flag].any? %>
      <div class="error-msg">This <%= post.errors[:public_flag][0] %></div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit  class: "btn btn-info pull-right create-btn" %>
    <%= link_to 'Cancel', back , class:"btn btn-secondary pull-right" %>
  </div>
<% end %>